aiohappyeyeballs
aiohttp
aiosignal
altair
annotated-types
anyio
asgiref
asttokens
attrs
backoff
bcrypt
blinker
build
CacheControl
cachetools
certifi
cffi
charset-normalizer
chromadb
click
colorama
coloredlogs
comm
cryptography
dataclasses-json
debugpy
decorator
Deprecated
distro
durationpy
executing
faiss-cpu
fastapi
filelock
firebase-admin
Flask
Flask-Bcrypt
Flask-Cors
Flask-JWT-Extended
Flask-Login
Flask-MySQL
flask-mysql-connector
Flask-SQLAlchemy
flatbuffers
frozenlist
fsspec
gitdb
GitPython
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-cloud-core
google-cloud-firestore
google-cloud-storage
google-crc32c
google-resumable-media
googleapis-common-protos
greenlet
grpcio
grpcio-status
gunicorn
h11
httpcore
httplib2
httptools
httpx
httpx-sse
huggingface-hub
humanfriendly
idna
importlib_metadata
importlib_resources
ipykernel
ipython
ipython_pygments_lexers
itsdangerous
jedi
Jinja2
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
kubernetes
langchain
langchain-chroma
langchain-community
langchain-core
langchain-ollama
langchain-text-splitters
langsmith
markdown-it-py
MarkupSafe
marshmallow
matplotlib-inline
mdurl
mmh3
mpmath
msgpack
multidict
mypy_extensions
mysql-connector-python
narwhals
nest-asyncio
numpy
oauthlib
ollama
onnxruntime
opencv-contrib-python
opencv-python
opentelemetry-api
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-instrumentation
opentelemetry-instrumentation-asgi
opentelemetry-instrumentation-fastapi
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
opentelemetry-util-http
orjson
overrides
packaging
pandas
parso
pillow
platformdirs
posthog
prompt_toolkit
propcache
proto-plus
protobuf
psutil
psycopg2
psycopg2-binary
pure_eval
pyarrow
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic-settings
pydantic_core
pydeck
Pygments
PyJWT
PyMySQL
pyparsing
PyPika
pyproject_hooks
python-dateutil
python-dotenv
pytz
PyYAML
pyzmq
referencing
regex
requests
requests-oauthlib
requests-toolbelt
rich
rpds-py
rsa
safetensors
shellingham
six
smmap
sniffio
SQLAlchemy
stack-data
starlette
streamlit
sympy
tenacity
tokenizers
toml
tornado
tqdm
traitlets
transformers
typer
typing-inspect
typing-inspection
typing_extensions
tzdata
uritemplate
urllib3
uvicorn
watchdog
watchfiles
wcwidth
websocket-client
websockets
Werkzeug
wrapt
yarl
zipp
zstandard
gunicorn